<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reflective Sphere</title>
    <style>
    </style>
</head>
<body>
    <canvas id="sphere" height="600" width="1200"></canvas>

    <!-- <img src="/static/images/bubble_cat.png" alt=""> -->
    
    <div style="display:none;">
        <video id="video">Video stream not available.</video>
        <canvas id="current_frame" width="720" height="720"></canvas>
    </div>
        
        <script src="/static/three/build/three.js"></script>
    <script src="/static/js/sphere.js"></script>
</body>
</html>